.tooltip {
  z-index: 999;
  position: absolute;
  border: 1px solid var(--primary);
  border-radius: 2px;
  background-color: var(--white);
  padding: 8px;
  pointer-events: none;
}

.tooltipLine {
  white-space: nowrap;
}

.tooltipKey {
  font-weight: 700;
}
