body {
  background-color: #33322e;
  margin-left: 40px;
}

.yLabels text {
  width: 110px;
  word-wrap: normal;
}

.waterfall {
  fill: white;
  font: 16px sans-serif;
  background-color: #33322e;
}

.chart rect {
  stroke: white;
  fill: steelblue;
}

.bar {
  pointer-events: none;
}

.tooltip {
  pointer-events: none;
  background-color: #f4f3ef;
  position: absolute;
  opacity: 0;
  padding: 8px 32px;
  max-width: 400px;
  color: #33322e;
}
